[Unit]
Description = torb service

[Service]
ExecStart = cd /home/ec2-user/isucon8-qualify/webapp/go && ./run_local.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target