[Unit]
Description = isucon8 qualifier webapp in go

[Service]
WorkingDirectory=/home/ec2-user/isucon8-qualify/webapp/go
EnvironmentFile=/home/ec2-user/isucon8-qualify/webapp/env.sh

ExecStart = /home/ec2-user/isucon8-qualify/webapp/go/run_local.sh

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target